{
    "singleQuote": false,
    "semi": true,
    "jsxSingleQuote": false,
    "jsxBracketSameLine": false,
    "jsxClosingBracketSameLine": true,
    "arrowParens": "avoid",
    "trailingComma": "all"
}